/* Styles globaux */

/* Réinitialisation des styles globaux */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Définition de la police globale et de l'arrière-plan */
body {
    font-family: Arial, sans-serif;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('D.png');
    background-size: cover;
    background-position: center;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
}

/* Définition des styles pour le conteneur d'inscription */
.register-container {
    background-color: rgba(247, 247, 247, 0.95);
    /* Ajout de transparence pour voir l'effet de fond */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 350px;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Définition des styles pour le conteneur d'inscription lorsqu'il est visible */
.register-container.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Définition des styles pour le titre du conteneur d'inscription */
.register-container h1 {
    margin-bottom: 20px;
    color: #541A1C;
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Définition des styles pour le titre du conteneur d'inscription lorsqu'il est visible */
.register-container.visible h1 {
    opacity: 1;
    transform: translateY(0);
}

/* Définition des styles pour le formulaire d'inscription */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Définition des styles pour le formulaire d'inscription lorsqu'il est visible */
.register-container.visible form {
    opacity: 1;
    transform: translateY(0);
}

/* Définition des styles pour les étiquettes du formulaire */
label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Définition des styles pour les étiquettes du formulaire lorsqu'elles sont visibles */
.register-container.visible label {
    opacity: 1;
    transform: translateY(0);
}

/* Définition des styles pour les champs de saisie de texte */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Définition des styles pour les champs de saisie de texte lorsqu'ils sont en focus */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Définition des styles pour le bouton de soumission */
button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #2A4975;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;transition: background-color 0.3s ease;
    }
    
    /* Définition des styles pour le bouton de soumission lorsqu'il est survolé */
    button[type="submit"]:hover {
        background-color: #541A1C;
    }
    
    /* Définition des styles pour le lien de connexion */
    .login-link {
        margin-top: 20px;
        font-size: 16px;
        color: #333;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    /* Définition des styles pour le lien de connexion lorsqu'il est visible */
    .register-container.visible .login-link {
        opacity: 1;
        transform: translateY(0);
    }
    
    /* Définition des styles pour l'ancre du lien de connexion */
    .login-link a {
        color: #541A1C;
        text-decoration: none;
    }
    
    .login-link a:hover {
        text-decoration: underline;
    }
    
    /* Media Queries pour la responsivité */
    @media (max-width: 768px) {
        .register-container {
            width: 80%;
            padding: 20px;
        }
    
        .register-container h1 {
            font-size: 20px;
        }
    
        label {
            font-size: 14px;
        }
    
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            padding: 12px;
            font-size: 14px;
        }
    
        button[type="submit"] {
            padding: 12px;
            font-size: 14px;
        }
    
        .login-link {
            font-size: 14px;
        }
    }
    
    @media (max-width: 480px) {
        .register-container {
            width: 90%;
            padding: 15px;
        }
    
        .register-container h1 {
            font-size: 18px;
        }
    
        label {
            font-size: 12px;
        }
    
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            padding: 10px;
            font-size: 12px;
        }
    
        button[type="submit"] {
            padding: 10px;
            font-size: 12px;
        }
    
        .login-link {
            font-size: 12px;
        }
    }